Source: kiconthemes
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.6.0),
               libkf5auth-dev (>= 5.6.0),
               libkf5codecs-dev (>= 5.6.0),
               libkf5config-dev (>= 5.6.0),
               libkf5configwidgets-dev (>= 5.6.0),
               libkf5coreaddons-dev (>= 5.6.0),
               libkf5guiaddons-dev (>= 5.6.0),
               libkf5i18n-dev (>= 5.6.0),
               libkf5itemviews-dev (>= 5.6.0),
               libkf5kjs-dev (>= 5.6.0),
               libkf5widgetsaddons-dev (>= 5.6.0),
               libqt5svg5-dev,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kiconthemes
XS-Testsuite: autopkgtest
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/kiconthemes.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kiconthemes.git

Package: libkf5iconthemes-bin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Support for icon themes
 Library to use/access icon themes in Qt. These classes
 are used by the iconloader but can be used by others too.
 .
 This package contains runtime binaries.

Package: libkf5iconthemes-dev
Section: libdevel
Architecture: any
Depends: libkf5config-dev,
         libkf5i18n-dev,
         libkf5iconthemes5 (= ${binary:Version}),
         libkf5itemviews-dev,
         libkf5widgetsaddons-dev,
         qtbase5-dev,
         ${misc:Depends}
Description: development files for kiconthemes
 Library to use/access icon themes in Qt. These classes
 are used by the iconloader but can be used by others too.
 .
 Contains development files for kiconthemes.

Package: libkf5iconthemes5
Architecture: any
Multi-Arch: same
Depends: libkf5iconthemes-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: libkf5iconthemes-bin (= ${binary:Version})
Description: Support for icon themes.
 Library to use/access icon themes in Qt. These classes
 are used by the iconloader but can be used by others too.

Package: libkf5iconthemes-data
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: foreign
Description: Support for icon themes.
 Library to use/access icon themes in Qt. These classes
 are used by the iconloader but can be used by others too.
 .
 This package contains the data files.

Package: libkf5iconthemes5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5iconthemes5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kiconthemes
 Library to use/access icon themes in Qt. These classes
 are used by the iconloader but can be used by others too.
 .
 Contains debug symbols for kiconthemes.
